DISCORD_TOKEN=

CONTROL_SERVER_ID=

CONTROL_CHANNEL_ID=

MONGODB_URI=

MONGODB_DB_NAME=discord_agent_db

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
BULK_PROMO_ENABLED=true
PROMO_MAX_CHANNELS=100


DJANGO_WEBHOOK_URL=

LOG_LEVEL=
